{% extends 'RAAFPAGEAdBundle::layout.html.twig' %}
{% block page_content %}
    Display all add for an account:
    {% for ad in ads %}
        <a href="{{  path('edit_add',{'id': ad.id})}}">Edit</a>
    {% endfor %}
{% endblock %}