{% extends 'RAAFPAGEUserBundle::layout.html.twig' %}

{% block title %}RaafPage - Welcome to Raaf page{% endblock %}
{% block content %}
    <div class="site-home-page">
        <div class="home-page-right">

        </div>
    </div>
{% endblock %}