/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/web/uploads/
/web/bundles/
/web/localAssets/
/web/js
/composer.phar
.idea
