.body{
    background-color: #eaeaea;
}
.form-group .label {
    width: 200px;
}
.form-group input, textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 200px;
    background: #FFFFFF;
}

textarea {
    width: 400px;
    max-width: 400px;
    height: 200px;
    line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #C9C9C9;
}

.form-group label {
    margin-left: 10px;
    color: #999999;
    float: left;
    width: 200px;
}

.submit input {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
}

.error {
    border-color:red;
}

form input[type="file"] {
    display: none;
}

.overlay_image{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: red;
}

.image-container {
    width: 85px;
    height: 80px;
    float: left;
    border: 1px solid darkgray;
}

.img-wrap {
    position: relative;
    display: inline-block;
    border: 1px red solid;
    font-size: 0;
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .4;
    text-align: center;
    font-size: 30px;
    line-height: 15px;
    border-radius: 50%;
}
.img-wrap:hover .close {
    opacity: 1;
}