<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}HR PROJECT{% endblock %} - HR PROJECT</title>
        {% block stylesheets %}
            <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/registration.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block layout_css %}{% endblock %}
    </head>
    <body>

    <div id="container">
        <div id="header">
            <h1>
                MATCH GROOM WITH BRIDE
            </h1>
        </div>
        <div id="navigation">
            {% block navigation %}{% endblock %}
        </div>
        <div id="content-container">
            <div id="content">
                {% block content %}{% endblock %}
            </div>

            {% block aside %}{% endblock %}

            <div id="footer">
                Copyright © Site name, 20XX
            </div>
        </div>
    </div>



        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
