{% extends 'RAAFPAGEUserBundle::layout.html.twig' %}

{% block title %}RAAFPAGE - SELLER{% endblock %}
{% block content %}
    <div class="registration">
        <div id="registration-form-container">
            Welcome back to raaf page
        </div>
    </div>
{% endblock %}