{% extends '::base.html.twig' %}

{% block javascripts %}
    {% javascripts  output='js/compiled/site.js'
    '@RAAFPAGEAdBundle/Resources/public/js/fileUploader/*'
    '@RAAFPAGEUserBundle/Resources/public/js/*'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block layout_css %}
    {% stylesheets output="bundles/UserBundle/css/screen.css"
        '@RAAFPAGESiteBundle/Resources/public/css/site-home-page.css'
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
    {% endstylesheets %}
{% endblock %}

{% block menu_css %}
    {% stylesheets output="bundles/UserBundle/css/menu.css"
        '@RAAFPAGEUserBundle/Resources/public/css/menu.css'
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
    {% endstylesheets %}
{% endblock %}

{% block navigation %}
    <div id='cssmenu'>
        {{ knp_menu_render('RAAFPAGESiteBundle:Builder:mainMenu') }}
    </div>
{% endblock %}
{% block content %}
    {% block page_content %}{% endblock %}
{% endblock %}