{% extends '::base.html.twig' %}

{% block title %}HR PROJECT - This is general secured page{% endblock %}
{% block content %}
    This is general secured page
    {% block user_block %}<a href="{{ path('logout') }}">Logout</a>{% endblock %}
{% endblock %}